#teachingAssistant3
{
	top: 140px;
	left: 250px;
}

#studentVrimle2
{
	top: 356px;
	left: 118px;
}



#teachingAssistant3:hover ~ #helper_bubbletwo p
{
	width: 100px;
	height: 30px;
	border-radius: 5px; 	
	left: 447px;
	top: 230px;
	width: 280px;
	display: inline;
	background-color: #ccc;
	border: 1px solid #000;
	text-align: center;
}

#helper_bubbletwo p
{
	display: none;
}
